snippet start
    @startuml
    skinparam linetype ortho

    ' Connections

    @enduml


snippet clis
	component client
	component server
	client -(0 server

snippet nodec
    node $1 {
        component $2
    }
